# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/monitor
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/monitor.dir/build.make
build/CMakeFiles/monitor.dir/cmake_clean.cmake
build/CMakeFiles/monitor.dir/CXX.includecache
build/CMakeFiles/monitor.dir/depend.internal
build/CMakeFiles/monitor.dir/depend.make
build/CMakeFiles/monitor.dir/DependInfo.cmake
build/CMakeFiles/monitor.dir/flags.make
build/CMakeFiles/monitor.dir/link.txt
build/CMakeFiles/monitor.dir/progress.make
build/CTestTestfile.cmake
build/CMakeFiles/Progress/9
build/CMakeFiles/Progress/10
build/CMakeFiles/Progress/11
build/CMakeFiles/Progress/12
build/CMakeFiles/Progress/13
build/CMakeFiles/Progress/14
build/CMakeFiles/Progress/15
build/CMakeFiles/Progress/16
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/test.dir/build.make
build/CMakeFiles/test.dir/cmake_clean.cmake
build/CMakeFiles/test.dir/CXX.includecache
build/CMakeFiles/test.dir/depend.internal
build/CMakeFiles/test.dir/depend.make
build/CMakeFiles/test.dir/DependInfo.cmake
build/CMakeFiles/test.dir/flags.make
build/CMakeFiles/test.dir/link.txt
build/CMakeFiles/test.dir/progress.make
.editorconfig
.vscode/tasks.json
.idea/.gitignore
.idea/misc.xml
.idea/vcs.xml
.vscode/launch.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-b13a59d14a6272a10991.json
build/.cmake/api/v1/reply/codemodel-v2-91cde8c508a10d2c57a2.json
build/.cmake/api/v1/reply/index-2022-07-25T19-15-46-0962.json
build/.cmake/api/v1/reply/target-monitor-ad0049ce2f0461d667b6.json
